# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
.env

# dependencies
node_modules/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# dist
dist/

# typescript
*.tsbuildinfo
